@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.mainBlock {
    width: 413px;
    height: 540px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

h1 {
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 26px;
    font-weight: 600;
    line-height: 39px;
    font-style: normal;

}
h3 {
    margin-top: 32px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}
.inputsBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 39px 0 0 0;

}
.inputsBlock input {
    margin-bottom: 24px;
}
.buttonsBlock {
    margin: 60px 0 0 0;
}
.error{
    font-size: 15px;
    font-weight: bolder;
    color: rgba(255,93,64,0.98);
    margin: 5px;
}
