
html {
    background-color: rgba(218, 225, 255, 0.98);
    box-sizing: border-box;
}
.active{
    background-color: #fd2e2e
}
.filterBody{
    filter: blur(4px);
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 300ms ease-in-out;

}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}
